.partners {
    background-color: #fbfbfb;
    padding: 76px 0 96px;
}

.partners-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partners-box__item {
    display: block;
}